<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Asistencia</title>
</head>

<body>
    <header>
        <h1 class="titulop">Grupo de Teatro Universidad Distrital</h1>
    </header>
    <nav>
        <!--<a href="{{veri[0]}}" class="nav-enlace">Asistencia</a>
        <a href="{{veri[1]}}" class="nav-enlace">Viaticos</a>
        <a href="{{veri[2]}}" class="nav-enlace">Certificados</a>-->
        <p>{{veri.0}}</p>

    </nav>
    <hr>

    <section>
        <div class="container">
            <div class="centradito">
                <form method="post" action="{{url_for('procesar')}}">
                    <table border="1" class="default">
                        <tr>
                            <td>Titulo de la obra</td>
                        </tr>
                        <tr>

                            <td>Nombre</td>

                            <td>Apellido</td>

                            <td>
                                <div>
                                    <input type="radio" id="Asistio" name="Asistio" value="1">
                                    <label for="Asistio">Asistio</label>
                                </div>

                                <div>

                                </div>
                            </td>

                        </tr>



                    </table>

                    <button onclick="">Enviar</button>
                </form>

            </div>
        </div>

    </section>
    <hr>


</body>

</html>