<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Asistencia</title>
</head>

<body>
    <header>
        <h1 class="titulop">Grupo de Teatro Universidad Distrital</h1>
    </header>
    <nav>
    
        <p></p>

    </nav>
    <hr>

    <section>
        <div class="container">
            <div class="centradito">
                <form id='formulario' name='formulario' method="post" action="{{url_for('asiste')}}">
                    <table border="2">
                        {%for codigo, nombre in valores%}
                        <tr>
                            <td>{{nombre}}</td>
                            <td>
                                <div>
                                    <input type="checkbox" id="Asistio" name="{{codigo}}" value="0">
                                    <label for="Asistio">Asistio</label>
                                </div>

                            </td>

                        </tr>

                        {% endfor %}

                    </table>
                    <button>Enviar</button>
                </form>

            </div>
        </div>

    </section>
    <hr>


</body>

</html>