<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Certificados</title>
</head>

<body>
    <header>
        <h1 class="titulop">Grupo de Teatro Universidad Distrital</h1>
    </header>
    <hr>

    <section>
        <div class="container">
            <button class="btn-Enviar">generar certificados</button>
        </div>
        <div>
            <form>
                <input type="text" name="codigo">
                <select name="select">
                    {%for id,titulo in valores%}
                    <option value="{{id}}">{{titulo}}</option>
                    {% endfor %}
                  </select>
                <button>Generar</button>
            </form>
        </div>
    </section>
    <hr>


</body>

</html>