<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 class="titulop">Grupo de Teatro Universidad Distrital</h1>
    </header>
    <nav>
        <a href="/" class="nav-enlace">Home</a>
        <a href="/" class="nav-enlace">Registro</a>
        <a href="#" class="nav-enlace">Contactenos</a>

    </nav>
    <hr>

    <section>
        <div class="container">
            <div class="centradito">
                <h3>successful resgistration </h3>
                <p>buen dia señor {{n}} {{apellido}} usted ha realizado el registro exitosamente y quedara programado para la fecha {{horas}}<br> Que tenga un excelente dia! :) </p>

            </div>
        </div>

    </section>
    <hr>


</body>

</html>