<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Viaticos</title>
</head>

<body>
    <header>
        <h1 class="titulop">Grupo de Teatro Universidad Distrital</h1>
    </header>
    <hr>
    <section>
        <div class="container">
            <div class="centradito">
                <form method="post" action="{{url_for('viatic')}}">

                    <table border="1">
                        <tr>

                            <td>Nombre</td>
                            <td>Sesión</td>
                            <td>Horas</td>

                        </tr>
                        {%for nombre, correo, tipo, horas in valores%}
                        <tr>

                            <td>{{nombre}}</td>
                            <td>{{tipo}}</td>
                            <td>{{horas}}</td>

                        </tr>

                        {% endfor %}

                    </table>
                    <button onclick="submit">Enviar</button>
                </form>
            </div>
            <iframe src="{{pdf}}" frameborder="0" width="100%" height="1000%"></iframe>
        </div>

    </section>
    <hr>


</body>

</html>